<ng-container *ngIf="(list$ | async) as list">
    <header [style.color]="list.color">Lists > {{list.caption}}</header>
    <div class="meta-data">
        <p class="description" *ngIf="!isConfirmingDelete">{{list.description}}</p>
        <span class="material-icons" [style.color]="list.color">{{list.icon}}</span>
        <div class="buttons" *ngIf="!isConfirmingDelete">
            <button class="primary" (click)="createNewList()">New List...</button>
            <button class="primary" (click)="editList()">Edit...</button>
            <button class="accent" (click)="confirmDelete()">Delete</button>
        </div>
        <p class="confirm-caption" *ngIf="isConfirmingDelete">
            Are you sure you want to delete the entire list?
        </p>
        <div class="delete-confirm" *ngIf="isConfirmingDelete">
            <button class="primary" (click)="cancelConfirmDelete()">Cancel</button>
            <button class="accent" (click)="deleteList()">Delete</button>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="(items$ | async) as items">
    <div class="items">
        <app-todo-item-presenter *ngFor="let item of items" [caption]="item.caption" [isCompleted]="item.isCompleted"
            (completed)="markAsCompleted(item.id)"></app-todo-item-presenter>
    </div>
</ng-container>