<app-string-selector [options]="colors" [selected]="selectedColor"
  (selection)="selectColor($event)">
    <span *appOption="let item" [style.color]="item">{{item}}</span>
</app-string-selector>

<app-string-selector [options]="fonts" [selected]="selectedFont"
  (selection)="selectFont($event)">
  <span *appOption="let item" [style.font-family]="item">{{item}}</span>
</app-string-selector>

<app-string-selector [options]="sizes" [selected]="selectedSize"
  (selection)="selectSize($event)">
  <span *appOption="let item" [style.font-size]="item">{{item}}</span>
</app-string-selector>

<textarea
  [style.color]="selectedColor"  
  [style.font-family]="selectedFont"
  [style.font-size]="selectedSize"
></textarea>