img {
    max-width: 400px;
    max-height: 400px;
  }
  
  .tools {
    padding: 30px;
  }
  
  .root {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
  }
  
  .show {
    padding: 30px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
  }
  
  .show-title {
    grid-row: 1;
    grid-column: 2;
  }
  
  .show-image {
    grid-row: 1/span 2;
    grid-column: 1;
    padding: 20px;
  }
  
  .show-summary {
    grid-row: 2;
    grid-column: 2;
  }

  button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 4px 14px;
    background: rgb(236, 236, 236);
    color: rgb(121, 131, 163);
    margin: 4px;
    border: 1px solid rgb(200, 200, 200);
    cursor: pointer; 
    border-radius: 12px;   
  }

  button:hover {
    color: white;
    background: rgb(121, 131, 163);
  }
  