:host {
  display: flex;
  flex-direction: column;

  .form {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;

    .field {
      display: flex;
      flex-direction: column;
      margin-bottom: 12px;

      label {
        margin-bottom: 4px;
        font-weight: bold;
      }

      .control {
        display: flex;
        align-items: center;
        gap: 8px;

        input[type='range'] {
          width: 200px;
        }
      }
    }
  }
}
