:host {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .header {
        font: var(--mat-sys-headline-large);        
    }

    mat-tab-group {
        flex-grow: 1;

        ::ng-deep .mat-mdc-tab-body-wrapper {
            flex-grow: 1;
        }

        ::ng-deep mat-tab-body.tab-body {
            display: flex;
            flex-direction: column;

            > .mat-mdc-tab-body-content {
                flex-grow: 1;
                display: flex;
                flex-direction: column;

                & > * {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}

