/* You can add global styles to this file, and also import other style files */
html, body {
    width: 100%;
    height: 100%;
}

body {
    display: grid;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.material-icons {
    width: auto;
    height: auto;
}

.material-icons.large {
    font-size: 48px;
}

.material-icons.medium {
    font-size: 36px;
}

.material-icons.small {
    font-size: 24px;
}

.material-icons.invert {
    padding: 4px;
    border-radius: 50%;
    overflow: hidden;
    color: white;
}



:root {
    --p50:  #e8eaf6;
    --p100: #c5cae9;
    --p200: #9fa8da;
    --p300: #7986cb;
    --p400: #5c6bc0;
    --p500: #3f51b5;
    --p600: #3949ab;
    --p700: #303f9f;
    --p800: #283593;
    --p900: #1a237e;
    --a100: #ffd7d7;
    --a200: #ffa4a4;
    --a400: #ff7171;
    --a700: #ff5858;   
}


