:host {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
}

.app-name {
    font-size: 40px;
    color: var(--p400);
}

.developer {
    font-size: 32px;
    color: var(--p700);
}

.date {
    font-size: 24px;
    color: var(--a700);
}

.todos {
    font-size: 32px;
    margin-top: 40px;    
}

.uncompleted {
    color: var(--a400);
}

.total {
    color: var(--p500);
}

