// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
}

.form-header {
  margin: 16px 0;
  align-self: center;
  font: var(--mat-sys-headline-medium);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 360px;
  padding: 16px;
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: 16px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-size: 16px;
  font-weight: 400;
  color: var(--mat-sys-on-primary-container);
}

input[type="text"],
input[type="email"],
input[type="password"], 
input[type="number"], 
input[type="search"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;

  &:focus {
    border-color: var(--mat-sys-primary);
    outline: none;
    box-shadow: 0 0 4px rgba(63, 81, 181, 0.5);
  }
}

select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;

  &:focus {
    border-color: var(--mat-sys-primary);
    outline: none;
    box-shadow: 0 0 4px rgba(63, 81, 181, 0.5);
  }
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

// .field with input checkbox inside should have flex-direction row
.field:has(input[type="checkbox"]) {
  flex-direction: row;
  align-items: center;
  gap: 8px;

  input[type="checkbox"] {
    order: -1;
  }
}

button {
  padding: 12px;
  font-size: 16px;
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: color-mix(in srgb, var(--mat-sys-primary), var(--mat-sys-on-surface) 50%);
  }

  &:disabled {
    background-color: color-mix(in srgb, var(--mat-sys-primary), transparent 70%);
    cursor: not-allowed;
  }
}

.err {
  color: var(--mat-sys-error);
}
