:host {
    display: grid;
}

.colors {
    display: flex;
    flex-direction: row;    
    margin: 5px;
    border: 1px solid black;
    padding: 0px;
}

.color {
    padding: 5px;
    font-size: 20px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
}